{% extends "header.html" %}
{% load socialaccount %}
{% providers_media_js %}



{% block content %}
<style>
  .login-form {
      width: 340px;
      margin: 50px auto;
      font-size: 15px;
  }
  .login-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
  .login-form h2 {
      margin: 0 0 15px;
  }
  .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
  }
  .btn {        
      font-size: 15px;
      font-weight: bold;
  }
  </style>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
  <script src="http://192.168.1.154:8080/static/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
{% if form.errors %}
    <p>
    <div class="alert alert-dismissible alert-danger justify-content-center d-flex">
        <p>Your username and password didn't match. Please try again.</p>
    </div>
{% endif %}

<div class="login-form">
  <form action="{% url 'login' %}" method="post">{% csrf_token %}
      <h2 class="text-center">Log in</h2>       
      <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
        </div>
        <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2"><i class="fa fa-key"></i></span>
        </div>
        <input name="password" id="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
    </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      </div>
    <div class="form-group">
        <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-primary" style="background-color:#3b5998;text-align:center">
            <span class="fa fa-facebook"></span>Sign in with Facebook</a>
    </div>
  </form>
  
{# Assumes you setup the password_reset view in your URLconf #}  
  <p class="text-center"><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

    {% endblock %}


{% block message %}
        {% if messages %}
            <div class="alert alert-dismissible alert-danger" align="center"></div>
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </div>  
        {% endif %}
{% endblock %}

