{% extends "header.html" %}
{% load i18n %}


{% block content %}
<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
        font-size: 15px;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
    </style>
    <div class="login-form">
        
        <form action="{% url 'account_change_password' %}" method="post">{% csrf_token %}
            
            <h2 class="text-center">Change password</h2>       
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                </div>
                <input name="oldpassword" type="text" class="form-control" placeholder="Current password" aria-label="password" aria-describedby="basic-addon1">
            </div>
    
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-check-square-o"></i></span>
                </div>
                <input name="password1" type="password" class="form-control" placeholder="New password" aria-label="password" aria-describedby="basic-addon1">
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-check-square-o"></i></span>
                </div>
                <input name="password2" type="password" class="form-control" placeholder="New password again" aria-label="password" aria-describedby="basic-addon1">
            </div>
    
    
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Change password now</button>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
             
        </form>
    </div>

    


{% endblock %}


{% block message %}
    {% if messages %}
        <ul class="messages" align="center">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
        </ul>
    {% endif %}

{% endblock %}