{% extends "header.html" %}

{% block content %}


<div class="align-items-center p-3 my-3 rounded shadow-sm text-center">

        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table align="center">
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
             
            </table>
<p><p>
            <input type="submit" value="Change my password" />
        </form>
</div>
        {% endblock %}


{% block message %}

    {% if messages %}
<ul class="messages" align="center">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
    {% endif %}

{% endblock %}