{% extends "header.html" %}
{% block content %}

<p>
<form method="post" align='center'> {%csrf_token%}
    <!-- <input type='submit' value='Start new exercise' name="start_preparing_exercise"/> -->
    <button type="submit" class="btn btn-primary">End now and calculate result</button>
    <legend>Questions List - Total of 20</legend>
</form>

<script>
    function display_question(URL) {
    var el = document.getElementById( "question_placeholder" );
    el.src=URL;
}
</script>

    {% for values in questions_list %}
                    <div  class="column_for_questions_list">
                      <a href="#" onclick="display_question('{{ values.get_absolute_url }}?ques_no={{forloop.counter}}&exercise_id={{values.exercise_id.exercise_id}}')">Q{{forloop.counter}}</a>
                    </div>
    {% endfor %}

    <iframe id='question_placeholder' width="1080px" height="600px" style="border:0;" class="modal-body">this is question page </iframe>

    {% endblock %}


{% block message %}
        {% if messages %}
            <div class="alert alert-dismissible alert-danger" align="center"></div>
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </div>  
        {% endif %}
{% endblock %}
