{% extends "header.html" %}
{% block content %}



<p><p>
    <style>
        .topnav a:hover {
            border-bottom: 1px solid red;
        }
        .full_container {
      
            top: 0;
            right: 0;
            width: 100% !important;
            left: 0;
            z-index: 20;
      
        }
        .modal-backdrop {
            /* bug fix - no overlay */    
            display: none;    
        }
        .header-container, .body-container, .footer-container { 
            max-width: 1080px; 
            margin: 0 auto; 
      
        }
      
        body { 
            max-width: 1080px; 
            margin: 0 auto !important; 
            float: none !important; 
        }
      
        /* Create four equal columns that floats next to each other */
        .column {
            float: left;
            width: 300px;
            padding: 5px;
      
        }
        
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
       
      
      </style>

      <div class="container-fluid" align='center'>
        <div class="row">
  
            {% for price in plan %}
            <form method="POST" class="col-md-4" > {%csrf_token%}
                <input type="hidden" value="{{price.subscribe_value}}" name="plan_duration">
                <input type="hidden" value="{{price.subscription_id}}" name="plan_id">
                <div class="form-group">
                    <select name="class_level" class="custom-select">
                      <option selected="###">-- Class level --</option>
                {% for classes in class %}
                      <option value="{{classes.class_id}}"> {{classes.class_description}} </option>
                {%endfor%}
                    </select>
                  </div>
            <div>          
                <div class="card mb-4 box-shadow">
                    <div class="card text-white bg-primary"><h4 class="my-0 font-weight-normal">{{price.title}}</h4></div>
                    <div class="card-body"><h1 class="card-title pricing-card-title">${{price.price}} <small class="text-muted">/ month</small></h1><ul class="list-unstyled mt-3 mb-4"><li>{{price.desc}}</li></ul> </div>
                    <button type="submit" class="btn btn-primary">Sign up now</button>
                </div>
            </div>
        </form>
            {% endfor %}
          </div>
      </div>

    {% endblock %}


{% block message %}

    {% for message in messages %}
    <div class="alert alert-dismissible alert-danger">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}

{% endblock %}