{% extends "header.html" %}
{% block content %}
<style>
  .topnav a:hover {
      border-bottom: 1px solid red;
  }
  .full_container {

      top: 0;
      right: 0;
      width: 100% !important;
      left: 0;
      z-index: 20;

  }
  .modal-backdrop {
      /* bug fix - no overlay */    
      display: none;    
  }
  .header-container, .body-container, .footer-container { 
      max-width: 1080px; 
      margin: 0 auto; 

  }

  body { 
      max-width: 1080px; 
      margin: 0 auto !important; 
      float: none !important; 
  }

  /* Create four equal columns that floats next to each other */
  .column {
      float: left;
      width: 33%;
      padding: 5px;

  }
  
  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
 

</style>
<p><p>
    <h2 align='center'>Your subscription is valid until {{subscription_enddate}}</h2><p><p>
        
    
    <div class="container-fluid" align='center'>
      <div class="row card-header">

          {% for price in plan %}
          <div class="column">          
              <div class="card mb-4 box-shadow">
                  <div class="card text-white bg-primary"><h4 class="my-0 font-weight-normal">{{price.title}}</h4></div>
                  <div class="card-body"><h1 class="card-title pricing-card-title">${{price.price}} <small class="text-muted">/ month</small></h1><ul class="list-unstyled mt-3 mb-4"><li>{{price.desc}}</li></ul> </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>

{% endblock %}


{% block message %}

    {% if messages %}
<ul class="messages" align="center">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
    {% endif %}

{% endblock %}



 
